/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css start here */

header{
    height: 50vh;
    background-color: rgb(63, 63, 63);
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 4rem;
    color: beige;
}
header p{
    color: azure;
}
.form{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.400);
    padding: .5rem;
    width: 40%;
}
.form>p{
    background-color: rgb(19, 146, 19);
    color: white;
    flex: 2 auto;
    line-height: 2rem;
    cursor: pointer;
    
}
main{
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: auto;
}
.pre-main{
    width: 100%;
    display: flex;
    padding: 1rem 0 0 0;
    flex-direction: row;
    justify-content: space-between;

}
ul>li{
    display: flex;
    padding-top: 4rem;
}
 ul>li>img{
    margin-right: 5rem;
} 
ul>li>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 2rem 0;
}
ul button{
    background-color: rgb(20, 160, 20);
    color: white;
    width: 40%;
    border: none;
    padding: .6rem .2rem;
    border-radius: 5px;
    cursor: pointer;
    
}